
@font-face {
  font-family: 'FbCoherentiSans';
  src: url('../fonts/fb/FbCoherentiSans-Bold.eot');
  src: local('FbCoherentiSans Bold'), local('RockStar-NarrowBold'),
  url('../fonts/fb/FbCoherentiSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fb/FbCoherentiSans-Bold.woff2') format('woff2'),
  url('../fonts/fb/FbCoherentiSans-Bold.woff') format('woff'),
  url('../fonts/fb/fbcoherentisans-boldwebfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'FbCoherentiSans';
  src: url('../fonts/fb/FbCoherentiSans-Black.eot');
  src: local('FbCoherentiSans Black'), local('RockStar-NarrowBlack'),
  url('../fonts/fb/FbCoherentiSans-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fb/FbCoherentiSans-Black.woff2') format('woff2'),
  url('../fonts/fb/FbCoherentiSans-Black.woff') format('woff'),
  url('../fonts/fb/fbcoherentisans-blackwebfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'FbCoherentiSans';
  src: url('../fonts/fb/FbCoherentiSans-Medium.eot');
  src: local('FbCoherentiSans Medium'), local('RockStar-NarrowMedium'),
  url('../fonts/fb/FbCoherentiSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fb/FbCoherentiSans-Medium.woff2') format('woff2'),
  url('../fonts/fb/FbCoherentiSans-Medium.woff') format('woff'),
  url('../fonts/fb/fbcoherentisans-mediumwebfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'FbCoherentiSans';
  src: url('../fonts/fb/FbCoherentiSans-Regular.eot');
  src: local('FbCoherentiSans'), local('RockStar-NarrowRegular'),
  url('../fonts/fb/FbCoherentiSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fb/FbCoherentiSans-Regular.woff2') format('woff2'),
  url('../fonts/fb/FbCoherentiSans-Regular.woff') format('woff'),
  url('../fonts/fb/fbcoherentisans-regularwebfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FbCoherentiSans';
  src: url('../fonts/fb/FbCoherentiSans-Light.eot');
  src: local('FbCoherentiSans Light'), local('RockStar-NarrowLight'),
  url('../fonts/fb/FbCoherentiSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fb/FbCoherentiSans-Light.woff2') format('woff2'),
  url('../fonts/fb/FbCoherentiSans-Light.woff') format('woff'),
  url('../fonts/fb/fbcoherentisans-lightwebfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


